* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header-image {
    height: 250px;
    width: auto;
}

ul {
    list-style-type: none;
    gap: 12px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: maroon;
    color: #ffffff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 315px;
    margin-right: 315px; 
}

.nav-bar .links {
    display: flex;
    gap: 10px;
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.description {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 250px;
    flex-basis: auto;
    justify-content: space-between;
}

h2 {
    margin: 0;
}

.welcome {
    font-size: 48px;    
}

.sign-up {
    width: fit-content;
    background-color: #3882f6;
    color: #ffffff;
    border-radius: 5px;
    border: 0px;
    padding: 5px 15px;
    font-weight: 500;
}

.description p {
    margin-bottom: 50px;
}

.logo {
    font-size: 30px;
    margin-top: 16px;
    border-radius: 50%;
    border-color: #ffffff;
    border-style: solid;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-images {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
}

.info-text {
    width: 350px;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 70px;
}

.doneness {
    font-size: 36px;
    font-weight: bold;
}

.info-images img {
    height: auto;
    width: 300px;
}

.info-images div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.rare,
.medium-rare,
.medium-well,
.well-done {
    margin-left: 20px;
    margin-right: 20px;
}

.header-image {
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10%;
}

img {
    border-style: solid;
    border-color: maroon;
    border-radius: 10%;
}

.quote h2 {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 20px;
    font-weight: 100;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.gordon {
    display: flex;
    justify-content: center;
    font-style: bold;
    font-size: 20px;
}

.quote {
    background-color: #e5e7eb;
    padding-top: 60px;
    padding-bottom: 60px;
}

.register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    padding: 40px 70px;
    background-color: #3882f6;
    width: 600px;
    color: #ffffff;
    border-radius: 8px;
}

.sign-up-two {
    border: #ffffff;
    width: fit-content;
    background-color: #3882f6;
    color: #ffffff;
    border-radius: 5px;
    border: 1px;
    border-style: solid;
    padding: 5px 15px;
    font-weight: 500;
    height: 26px;
}

.register-box {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-to-action h3 {
    margin: 0;
    font-size: 18px;
}

.register div {
    font-weight: lighter;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: maroon;
    color: #ffffff;
    padding: 20px 0px;
}
